Repository Ba-So/nix-devshells: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-json, detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, nix-flake-lock-check, shellcheck, shellcheck-extra-strict, prettier-check, typos, check-markdown-links

check-yaml:
  name: check yaml syntax
  entry: yamllint
  language: system
  stages:
  - commit

check-json:
  name: check json syntax
  entry: bash
  language: system
  stages:
  - commit
  args:
  - -c
  - for file in "$@"; do jq empty "$file" || exit 1; done
  - --

detect-private-key:
  name: detect private keys
  entry: bash
  language: system
  stages:
  - commit
  args:
  - -c
  - for file in "$@"; do if grep -l "BEGIN.*PRIVATE KEY" "$file"; then echo "Private key detected in $file"; exit 1; fi; done
  - --

check-secrets:
  name: check for common secrets patterns
  entry: bash
  language: system
  stages:
  - commit
  args:
  - -c
  - for file in "$@"; do if grep -iE "(password|secret|api[_-]?key|token|credential)[[:space:]]*[:=][[:space:]]*['\"'][^'\"']+['\"']" "$file"; then echo "Potential secret in $file"; exit 1; fi; done
  - --

alejandra:
  name: alejandra nix formatter (strict)
  entry: alejandra --check
  language: system
  pass_filenames: true
  stages:
  - commit

deadnix:
  name: deadnix - detect unused nix code (strict)
  entry: deadnix --fail
  language: system
  args:
  - --no-underscore
  - --no-lambda-pattern-names
  stages:
  - commit

statix:
  name: statix nix linter (strict)
  entry: statix
  language: system
  args:
  - check
  - .
  pass_filenames: false
  stages:
  - commit

nix-flake-check:
  name: nix flake check (strict)
  entry: nix
  args:
  - flake
  - check
  - --no-build
  language: system
  pass_filenames: false
  stages:
  - commit

nix-flake-lock-check:
  name: check flake.lock is up to date
  entry: bash
  language: system
  pass_filenames: false
  stages:
  - commit
  args:
  - -c
  - 'nix flake lock --no-update-lock-file 2>&1 | grep -q "warning: updating lock file" && echo "ERROR: flake.lock is out of sync. Run: nix flake update" && exit 1 || exit 0'

shellcheck:
  name: shellcheck (strict)
  entry: shellcheck
  language: system
  args:
  - -x
  - --severity=warning
  stages:
  - commit

shellcheck-extra-strict:
  name: shellcheck (extra strict - errors only)
  entry: shellcheck
  language: system
  args:
  - -x
  - --severity=error
  stages:
  - push

prettier-check:
  name: prettier formatter check (strict)
  entry: prettier
  language: system
  args:
  - --check
  stages:
  - commit

typos:
  name: typos spell checker (strict)
  entry: typos
  language: system
  stages:
  - commit

check-markdown-links:
  name: check markdown links are valid
  entry: bash
  language: system
  stages:
  - commit
  args:
  - -c
  ...

fix: makes presets sane
  modules/presets/default.nix
  modules/presets/full.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

feat: update task-master to 0.37.0
  pkgs/claude-task-master/claude-task-master-package.json
  pkgs/claude-task-master/default.nix
  pkgs/claude-task-master/package-lock.json
  pkgs/claude-task-master/update.sh
  pkgs/default.nix
Due: check-json, detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, shellcheck, shellcheck-extra-strict, prettier-check, typos

formatting
  flake.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, nix-flake-lock-check, typos

feat: address unfree error
  lib/default.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

feat: update codanna to 0.8.3
  flake.lock
  pkgs/codanna.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, nix-flake-lock-check, typos

feat, php: adds phpstan
  languages/php.nix
  modules/languages/php.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

feat: add qdrant-mcp
  flake.lock
  flake.nix
  lib/default.nix
  modules/mcp/default.nix
  modules/mcp/qdrant.nix
  pkgs/qdrant-mcp.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, nix-flake-lock-check, typos

fix: inputs for qdrant-mcp
  flake.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, nix-flake-lock-check, typos

dotifle nonsense
  .gitignore
  .mcp.json
  .taskmaster/CLAUDE.md
  .taskmaster/config.json
  .taskmaster/state.json
  .taskmaster/tasks/tasks.json
  flake.lock
Due: check-json, detect-private-key, check-secrets, nix-flake-check, nix-flake-lock-check, prettier-check, typos, check-markdown-links

feat: auto-config for task-master with support for claude-code
  modules/mcp/claude-task-master.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

fix mcp's
  .mcp.json
Due: check-json, detect-private-key, check-secrets, prettier-check, typos

ref: move utilities to minimal flake
  modules/presets/minimal.nix
  modules/presets/standard.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

feat: adds javascript-support
  languages/js.nix
  modules/languages/default.nix
  modules/languages/js.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

fix: packages and shell-message
  modules/languages/js.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

ref: remove languages-folder
  .github/labeler.yaml
  languages/ansible.nix
  languages/cpp.nix
  languages/js.nix
  languages/latex.nix
  languages/nix.nix
  languages/php.nix
  languages/python.nix
  languages/rust.nix
  modules/languages/js.nix
Due: check-yaml, detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, prettier-check, typos

feat: update lock
  flake.lock
Due: detect-private-key, check-secrets, nix-flake-check, nix-flake-lock-check

feat: use codanna flake.nix
  .taskmaster/CLAUDE.md
  .taskmaster/config.json
  .taskmaster/state.json
  .taskmaster/tasks/tasks.json
  .taskmaster/templates/example_prd.txt
  .taskmaster/templates/example_prd_rpg.txt
  flake.lock
  flake.nix
  lib/default.nix
  pkgs/codanna.nix
Due: check-json, detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, nix-flake-lock-check, prettier-check, typos, check-markdown-links

update to nix 25.11
  flake.lock
  flake.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, nix-flake-lock-check, typos

fix: wrap qdrant, to prevent it's python from breaking serena
  modules/languages/cpp.nix
  pkgs/qdrant-mcp.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

rust: add flamegraph
  flake.lock
  modules/languages/rust.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, nix-flake-lock-check, typos

latex: poppler-utils rename
  modules/languages/latex.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

ansibled remove lang-server
  modules/languages/ansible.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

rust: explicitly add perf
  modules/languages/rust.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

fix dotfiles
  .gitignore
  .mcp.json
  .taskmaster/config.json
Due: check-json, detect-private-key, check-secrets, prettier-check, typos

removes webpack
  flake.lock
  modules/languages/js.nix
  modules/languages/python.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, nix-flake-lock-check, typos

flack.lock
  flake.lock
Due: detect-private-key, check-secrets, nix-flake-check, nix-flake-lock-check

rust: add binutils & elfutils
  modules/languages/rust.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

fix: deactivate doCheck for conan
  flake.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, nix-flake-lock-check, typos

fix: deactivate doCheck for conan(++)
  flake.nix
  lib/default.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, nix-flake-lock-check, typos

chore: update codanna to 0.9.14-nix
  flake.lock
Due: detect-private-key, check-secrets, nix-flake-check, nix-flake-lock-check

feat: adds paper-search mcp
  flake.lock
  modules/mcp/default.nix
  modules/mcp/paper-search.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, nix-flake-lock-check, typos

fix: phpstan has been moved
  modules/languages/php.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

feat: refactor paper-search mcp into package using uv2nix
  flake.nix
  lib/default.nix
  modules/mcp/paper-search.nix
  pkgs/paper-search-mcp.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, nix-flake-lock-check, typos

feat: implement worktree-workflow for ai development
  flake.nix
  lib/compose.nix
  lib/default.nix
  lib/mcp.nix
  lib/worktree.nix
  templates/worktree/README.md
  templates/worktree/flake.lock
  templates/worktree/flake.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, nix-flake-lock-check, prettier-check, typos, check-markdown-links

fix: proprely configure task-master
  modules/mcp/claude-task-master.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

feat: add screenshot-mcp
  flake.nix
  modules/mcp/default.nix
  modules/mcp/universal-screenshot.nix
  pkgs/default.nix
  pkgs/universal-screenshot-mcp.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, nix-flake-lock-check, typos

fix: add universal-screenshot-mcp to devPkgs
  lib/default.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

feat: add computer-use mcp
  flake.nix
  lib/default.nix
  modules/mcp/computer-use.nix
  modules/mcp/default.nix
  pkgs/computer-use-mcp.nix
  pkgs/default.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, nix-flake-lock-check, typos

doc: update readme
  README.md
Due: detect-private-key, check-secrets, prettier-check, typos, check-markdown-links

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: ^\.pre-commit-config\.yaml$
  check-json: any of: \.json$
  detect-private-key: any file but: ^\.pre-commit-config\.yaml$
  check-secrets: any file but: ^(.pre-commit-config.yaml|.*test.*|.*example.*)$
  alejandra: any of: \.nix$
  deadnix: any of: \.nix$
  statix: any of: \.nix$
  nix-flake-check: any of: ^(flake\.(nix|lock)|.*\.nix)$
  nix-flake-lock-check: any of: ^flake\.(nix|lock)$
  shellcheck: any of: \.(sh|bash)$
  shellcheck-extra-strict: any of: \.(sh|bash)$
  prettier-check: any of: \.(yaml|yml|json|md)$, but not: flake\.lock$
  typos: any file but: flake\.lock$
  check-markdown-links: any of: \.md$
