Repository Ba-So/nix-devshells: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-json, detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, nix-flake-lock-check, shellcheck, shellcheck-extra-strict, prettier-check, typos, check-markdown-links

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: ^\.pre-commit-config\.yaml$
  check-json: any of: \.json$
  detect-private-key: any file but: ^\.pre-commit-config\.yaml$
  check-secrets: any file but: ^(.pre-commit-config.yaml|.*test.*|.*example.*)$
  alejandra: any of: \.nix$
  deadnix: any of: \.nix$
  statix: any of: \.nix$
  nix-flake-check: any of: ^(flake\.(nix|lock)|.*\.nix)$
  nix-flake-lock-check: any of: ^flake\.(nix|lock)$
  shellcheck: any of: \.(sh|bash)$
  shellcheck-extra-strict: any of: \.(sh|bash)$
  prettier-check: any of: \.(yaml|yml|json|md)$, but not: flake\.lock$
  typos: any file but: flake\.lock$
  check-markdown-links: any of: \.md$

fix: correct command for paper-search command
  modules/mcp/paper-search.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

feat: adds mcp-libre for interaction with liberoffice documents
  flake.nix
  lib/default.nix
  lib/mcp.nix
  modules/mcp/default.nix
  modules/mcp/libre.nix
  pkgs/default.nix
  pkgs/mcp-libre.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, nix-flake-lock-check, typos

chore: flake.lock update
  flake.lock
Due: detect-private-key, check-secrets, nix-flake-check, nix-flake-lock-check

feat: add grafana-mcp
  flake.nix
  lib/default.nix
  modules/mcp/default.nix
  modules/mcp/grafana.nix
  pkgs/mcp-grafana.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, nix-flake-lock-check, typos

feat: add onedev-mcp
  .mcp.json
  flake.nix
  lib/default.nix
  modules/mcp/default.nix
  modules/mcp/onedev.nix
  pkgs/default.nix
  pkgs/tod.nix
Due: check-json, detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, nix-flake-lock-check, prettier-check, typos

chore: flake update
  flake.lock
Due: detect-private-key, check-secrets, nix-flake-check, nix-flake-lock-check

fix: found a mention of push
  lib/skills/orchestrate.md
Due: detect-private-key, check-secrets, prettier-check, typos, check-markdown-links

feat(diverse): adds agile-skills, and mempalace mcp
  flake.nix
  lib/default.nix
  lib/skills/agile-backlog.md
  lib/skills/agile-breakdown.md
  lib/skills/agile-delivery.md
  lib/skills/agile-discovery.md
  lib/skills/agile-map.md
  lib/skills/agile-mvp.md
  lib/skills/agile-plan.md
  lib/skills/agile-planning.md
  lib/skills/agile-stories.md
  lib/skills/agile-team.md
  lib/skills/agile-vision.md
  modules/mcp/default.nix
  modules/mcp/mempalace.nix
  pkgs/mempalace.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, nix-flake-lock-check, prettier-check, typos, check-markdown-links

feat: adds support for the opencode harness
  flake.nix
  lib/agents.nix
  lib/compose.nix
  lib/default.nix
  lib/harness/claude.nix
  lib/harness/default.nix
  lib/harness/opencode.nix
  lib/mcp.nix
  lib/mkAgentModule.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, nix-flake-lock-check, typos

doc(update): redo the readme
  README.md
Due: detect-private-key, check-secrets, prettier-check, typos, check-markdown-links

feat: adds obsidian-mcp
  .mcp.json
  README.md
  flake.nix
  lib/default.nix
  modules/mcp/default.nix
  modules/mcp/obsidian.nix
  pkgs/obsidian-mcp.nix
Due: check-json, detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, nix-flake-lock-check, prettier-check, typos, check-markdown-links

fix: vendor pyproject.toml & uv.locks for python pkgs
  flake.nix
  pkgs/mempalace.nix
  pkgs/paper-search-mcp/default.nix
  pkgs/paper-search-mcp/pyproject.toml
  pkgs/paper-search-mcp/uv.lock
  pkgs/qdrant-mcp/default.nix
  pkgs/qdrant-mcp/pyproject.toml
  pkgs/qdrant-mcp/uv.lock
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, nix-flake-lock-check, typos

ref!: remove mempalace
  README.md
  flake.nix
  lib/default.nix
  modules/mcp/default.nix
  modules/mcp/mempalace.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, nix-flake-lock-check, prettier-check, typos, check-markdown-links

fix: formatting
  pkgs/cratedocs-mcp.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

formatting
  .mcp.json
Due: check-json, detect-private-key, check-secrets, prettier-check, typos
