Repository Ba-So/nix-devshells: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-json, detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, nix-flake-lock-check, shellcheck, shellcheck-extra-strict, prettier-check, typos, check-markdown-links

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: ^\.pre-commit-config\.yaml$
  check-json: any of: \.json$
  detect-private-key: any file but: ^\.pre-commit-config\.yaml$
  check-secrets: any file but: ^(.pre-commit-config.yaml|.*test.*|.*example.*)$
  alejandra: any of: \.nix$
  deadnix: any of: \.nix$
  statix: any of: \.nix$
  nix-flake-check: any of: ^(flake\.(nix|lock)|.*\.nix)$
  nix-flake-lock-check: any of: ^flake\.(nix|lock)$
  shellcheck: any of: \.(sh|bash)$
  shellcheck-extra-strict: any of: \.(sh|bash)$
  prettier-check: any of: \.(yaml|yml|json|md)$, but not: flake\.lock$
  typos: any file but: flake\.lock$
  check-markdown-links: any of: \.md$

doc: slight rewording
  README.md
Due: detect-private-key, check-secrets, prettier-check, typos, check-markdown-links

fix: expensive nix-store copying by filtering mainDir and worktrees, allow src input
  .mcp.json
  flake.lock
  lib/default.nix
  lib/worktree.nix
  templates/worktree/README.md
  templates/worktree/flake.nix
Due: check-json, detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, nix-flake-lock-check, prettier-check, typos, check-markdown-links

ref: make orchestrator live in main, branches are siblings
  .env.example
  lib/compose.nix
  lib/worktree.nix
  templates/worktree/README.md
  templates/worktree/flake.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, prettier-check, typos, check-markdown-links

fix: claude.md gen
  lib/worktree.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

feat: update task-master to 0.43.0
  pkgs/claude-task-master/default.nix
  pkgs/claude-task-master/package-lock.json
  pkgs/claude-task-master/update.sh
Due: check-json, detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, shellcheck, shellcheck-extra-strict, prettier-check, typos

fix: broken task-master 0.43.0
  pkgs/claude-task-master/default.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

adds skills for worktree-workflow
  lib/worktree.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

feat: update orchestrator skill
  lib/worktree.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

feat: add rtk-ai for token-usage optimization
  .mcp.json
  lib/default.nix
  modules/tools/default.nix
  modules/tools/utilities.nix
  pkgs/rtk.nix
Due: check-json, detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, prettier-check, typos

feat: add parameter for auto-enabling rtk-ai
  lib/compose.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

fix: linting warining about empty pattern
  lib/worktree.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

ref: extract skills from worktree.nix
  lib/skills/collect-results.md
  lib/skills/iteration-loop.md
  lib/skills/orchestrate.md
  lib/skills/review-and-merge.md
  lib/skills/spawn-workers.md
  lib/worktree.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, prettier-check, typos, check-markdown-links

feat: update orchestrator skill
  lib/skills/orchestrate.md
Due: detect-private-key, check-secrets, prettier-check, typos, check-markdown-links

feat: add github-mcp to available mcp's
  modules/mcp/default.nix
  modules/mcp/github.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

chore: flake update
  flake.lock
  flake.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, nix-flake-lock-check, typos

ref: break down worktree.nix
  lib/compose.nix
  lib/default.nix
  lib/worktree.nix
  lib/worktree/claude-md.nix
  lib/worktree/default.nix
  lib/worktree/flake.nix
  lib/worktree/hooks.nix
  lib/worktree/scripts.nix
  lib/worktree/source.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

ref: extract mkMcpModule function
  lib/mkMcpModule.nix
  modules/mcp/cargo.nix
  modules/mcp/claude-task-master.nix
  modules/mcp/codanna.nix
  modules/mcp/computer-use.nix
  modules/mcp/cratedocs.nix
  modules/mcp/default.nix
  modules/mcp/github.nix
  modules/mcp/gitlab.nix
  modules/mcp/paper-search.nix
  modules/mcp/puppeteer.nix
  modules/mcp/qdrant.nix
  modules/mcp/serena.nix
  modules/mcp/shrimp.nix
  modules/mcp/universal-screenshot.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

fix: update pre-commit hooks
  .mcp.json
  .pre-commit-config.yaml
  lib/skills/orchestrate.md
Due: check-json, detect-private-key, check-secrets, prettier-check, typos, check-markdown-links

fix: mcp-generation
  modules/mcp/computer-use.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

fix: make .shared ignored by project, initialize .shared as git-repo for nix-flake
  lib/worktree/hooks.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

chore: flake update
  flake.lock
Due: detect-private-key, check-secrets, nix-flake-check, nix-flake-lock-check

feat: skill using skills to better orchestrate
  lib/skills/collect-results.md
  lib/skills/orchestrate.md
  lib/skills/review-and-merge.md
  lib/skills/spawn-workers.md
Due: detect-private-key, check-secrets, prettier-check, typos, check-markdown-links

feat: specify tools for task-master
  modules/mcp/claude-task-master.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

feat: update rust to 1.92
  modules/languages/rust.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

fix: update cratedocs-mcp
  flake.lock
  pkgs/cratedocs-mcp.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, nix-flake-lock-check, typos

feat: adds agent definitions to the flakes
  lib/agents.nix
  lib/agents/.gitkeep
  lib/compose.nix
  lib/default.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

feat: semi-generate agents, specifically resolve mcpDeps
  lib/agents.nix
  lib/agents/.gitkeep
  lib/compose.nix
  lib/default.nix
  lib/mkAgentModule.nix
  modules/agents/default.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

feat: add code-reviewer agent
  modules/agents/code-reviewer.nix
  modules/agents/default.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

feat: adds codebase-researcher and software-designer agents
  modules/agents/codebase-researcher.nix
  modules/agents/default.nix
  modules/agents/software-designer.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

feat: add coder & test-specialist, add tool-usage instructions
  modules/agents/code-reviewer.nix
  modules/agents/coder.nix
  modules/agents/default.nix
  modules/agents/software-designer.nix
  modules/agents/test-specialist.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

fix: no cross-referencing of skills
  lib/skills/collect-results.md
  lib/skills/iteration-loop.md
  lib/skills/orchestrate.md
  lib/skills/review-and-merge.md
  lib/skills/spawn-workers.md
Due: detect-private-key, check-secrets, prettier-check, typos, check-markdown-links

fix: remove references to removed skills from files
  lib/worktree/claude-md.nix
  lib/worktree/hooks.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

fix: some fine-tuning
  lib/skills/orchestrate.md
Due: detect-private-key, check-secrets, prettier-check, typos, check-markdown-links

fix: be more explicit about asynchronicity during waves
  lib/skills/orchestrate.md
Due: detect-private-key, check-secrets, prettier-check, typos, check-markdown-links

fix: remove push instructions
  lib/skills/orchestrate.md
Due: detect-private-key, check-secrets, prettier-check, typos, check-markdown-links

feat: adds prd skill
  lib/skills/prd.md
  lib/worktree/claude-md.nix
  lib/worktree/hooks.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, prettier-check, typos, check-markdown-links

feat: add complexity-analyzer
  modules/agents/complexity-analyzer.nix
  modules/agents/default.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

feat: adds design and database agent-definitions
  modules/agents/default.nix
  modules/agents/design-assistant.nix
  modules/agents/sql-assistant.nix
Due: detect-private-key, check-secrets, alejandra, deadnix, statix, nix-flake-check, typos

feat: update skills with new agents
  lib/skills/orchestrate.md
  lib/skills/prd.md
Due: detect-private-key, check-secrets, prettier-check, typos, check-markdown-links

feat: additions to prd
  lib/skills/prd.md
Due: detect-private-key, check-secrets, prettier-check, typos, check-markdown-links
