Repository Ba-So/nix-devshells: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, alejandra, deadnix, statix, nix-flake-check, shellcheck, prettier, typos

check-yaml:
  name: check yaml syntax
  entry: yamllint
  language: system
  args:
  - -d
  - relaxed

alejandra:
  name: alejandra nix formatter
  entry: alejandra
  language: system
  pass_filenames: true

deadnix:
  name: deadnix - remove unused nix code
  entry: deadnix
  language: system
  args:
  - --edit
  - --no-underscore

statix:
  name: statix nix linter
  entry: statix
  language: system
  args:
  - check
  - .
  pass_filenames: false

nix-flake-check:
  name: nix flake check
  entry: nix
  args:
  - flake
  - check
  - --no-build
  language: system
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - -x

prettier:
  name: prettier formatter
  entry: prettier
  language: system
  args:
  - --write

typos:
  name: typos spell checker
  entry: typos
  language: system

doc: adds Readme
  README.md
Due: prettier, typos

move envrc to ignored files
  .envrc
  .gitignore
Due: typos

feat: adds gitlab-mcp
  .mcp.json
  base/gitlab.nix
  pkgs/default.nix
  templates/cpp/.mcp.json
  templates/php/.mcp.json
  templates/rust/.mcp.json
Due: alejandra, deadnix, statix, nix-flake-check, prettier, typos

fix: adds mcp-gitlab to default packages
  base/common.nix
Due: alejandra, deadnix, statix, nix-flake-check, typos

feat: update cargo to 1.90.0
  languages/rust.nix
Due: alejandra, deadnix, statix, nix-flake-check, typos

feat: expose packages and overlay, enhance templates
  .mcp.json
  flake.nix
  templates/cpp/.mcp.json
  templates/cpp/flake.nix
  templates/latex/flake.nix
  templates/php/.mcp.json
  templates/php/flake.nix
  templates/rust/.mcp.json
  templates/rust/flake.nix
Due: alejandra, deadnix, statix, nix-flake-check, prettier, typos

feat: add strict pre-commit hooks and code quality enforcement
  .mcp.json
  .pre-commit-config.yaml
  .yamllint
  flake.nix
  templates/cpp/.mcp.json
  templates/cpp/flake.nix
  templates/latex/flake.nix
  templates/php/.mcp.json
  templates/php/flake.nix
  templates/rust/.mcp.json
  templates/rust/.pre-commit-config.yaml
  templates/rust/flake.nix
Due: check-yaml, alejandra, deadnix, statix, nix-flake-check, prettier, typos

feat: add GitHub Actions CI/CD pipeline
  .github/CI.md
  .github/dependabot.yaml
  .github/labeler.yaml
  .github/workflows/ci.yaml
  .github/workflows/pr-labels.yaml
  .github/workflows/update-flake.yaml
Due: check-yaml, prettier, typos

fix: add deadnix and statix to nix devshell
  languages/nix.nix
Due: alejandra, deadnix, statix, nix-flake-check, typos

migrate pre-commit-hook
  .pre-commit-config.yaml
Due: check-yaml, prettier, typos

fix: track flake.lock for reproducible builds
  .gitignore
  flake.lock
Due: nix-flake-check, typos

fix: git init and git add the test-xxx folders
  .github/workflows/ci.yaml
Due: check-yaml, prettier, typos

fix: comment out package builds in templates
  templates/latex/flake.nix
  templates/php/flake.nix
  templates/rust/flake.nix
Due: alejandra, deadnix, statix, nix-flake-check, typos

improve docs, refactor base into pkgs, remove old serena-flake in favor of upstream flake
  README.md
  base/serena.Dockerfile
  base/serena.nix
  default.nix
  flake.nix
  languages/ansible.nix
  languages/cpp.nix
  languages/latex.nix
  languages/nix.nix
  languages/php.nix
  languages/python.nix
  languages/rust.nix
  pkgs/codanna.nix
  pkgs/common.nix
  pkgs/default.nix
  pkgs/gitlab.nix
  pkgs/shrimp.nix
Due: alejandra, deadnix, statix, nix-flake-check, prettier, typos

doc: update
  README.md
Due: prettier, typos

fix: resolve pre-commit-hook flags
  README.md
  languages/ansible.nix
  languages/cpp.nix
  languages/latex.nix
  languages/nix.nix
  languages/php.nix
  languages/python.nix
  languages/rust.nix
  templates/latex/flake.nix
  templates/php/flake.nix
  templates/rust/flake.nix
Due: alejandra, deadnix, statix, nix-flake-check, prettier, typos

feat: adds the puppeteer-mcp
  README.md
  flake.nix
  languages/rust.nix
  pkgs/default.nix
  pkgs/puppeteer-mcp.nix
Due: alejandra, deadnix, statix, nix-flake-check, prettier, typos

flake update
  flake.lock
Due: nix-flake-check

feat: makes serena et al available for extension in custom devshells
  README.md
  default.nix
  flake.nix
Due: alejandra, deadnix, statix, nix-flake-check, prettier, typos

fix: serena troubles
  default.nix
  pkgs/common.nix
Due: alejandra, deadnix, statix, nix-flake-check, typos

feat: add comprehensive devshell modularity proposal
  MODULARITY_PROPOSAL.md
Due: prettier, typos

feat: Create library structure and composition functions
  lib/compose.nix
  lib/default.nix
  lib/mcp.nix
  lib/utils.nix
  lib/validate.nix
Due: alejandra, deadnix, statix, nix-flake-check, typos

feat: Initialize module-system
  modules/languages/ansible.nix
  modules/languages/cpp.nix
  modules/languages/default.nix
  modules/languages/latex.nix
  modules/languages/nix.nix
  modules/languages/php.nix
  modules/languages/python.nix
  modules/languages/rust.nix
  modules/mcp/cargo.nix
  modules/mcp/codanna.nix
  modules/mcp/cratedocs.nix
  modules/mcp/default.nix
  modules/mcp/gitlab.nix
  modules/mcp/puppeteer.nix
  modules/mcp/serena.nix
  modules/mcp/shrimp.nix
  modules/presets/default.nix
  modules/presets/full.nix
  modules/presets/minimal.nix
  modules/presets/standard.nix
  modules/tools/default.nix
  modules/tools/editors.nix
  modules/tools/nix-tools.nix
  modules/tools/utilities.nix
  modules/tools/version-control.nix
Due: alejandra, deadnix, statix, nix-flake-check, typos

feat(flake): expose lib system and add composed shells
  .shrimp/tasks.json
  MODULARITY_PROPOSAL.md
  flake.nix
  lib/compose.nix
  lib/default.nix
  lib/utils.nix
Due: alejandra, deadnix, statix, nix-flake-check, prettier, typos

refactor(default.nix): migrate to module system internally
  .shrimp/tasks.json
  default.nix
Due: alejandra, deadnix, statix, nix-flake-check, prettier, typos

feat(templates): update all templates to demonstrate new composition API
  .shrimp/tasks.json
  templates/cpp/flake.nix
  templates/latex/flake.nix
  templates/php/flake.nix
  templates/rust/flake.nix
Due: alejandra, deadnix, statix, nix-flake-check, prettier, typos

docs: create comprehensive documentation for modular system
  .shrimp/tasks.json
  COMPOSITION_GUIDE.md
  MODULE_GUIDE.md
  README.md
Due: prettier, typos

test: comprehensive validation of modular system
  .shrimp/tasks.json
  TEST_REPORT.md
Due: prettier, typos

doc: reduce verbosity of documentation
  .github/CI.md
  .gitignore
  .shrimp/tasks.json
  COMPOSITION_GUIDE.md
  MODULARITY_PROPOSAL.md
  MODULE_GUIDE.md
  README.md
  TEST_REPORT.md
  templates/cpp/README.md
  templates/php/README.md
  templates/rust/README.md
Due: prettier, typos

fix: adds deduplication to added modules, to avoid duplications from presets
  lib/compose.nix
  lib/default.nix
  lib/utils.nix
Due: alejandra, deadnix, statix, nix-flake-check, typos

fix: removes gitlab-mcp from standard toolset
  modules/presets/standard.nix
Due: alejandra, deadnix, statix, nix-flake-check, typos

feat adds pre-commit packages
  languages/cpp.nix
  modules/tools/utilities.nix
Due: alejandra, deadnix, statix, nix-flake-check, typos

fix: adds nodejs
  modules/tools/utilities.nix
Due: alejandra, deadnix, statix, nix-flake-check, typos

feat: adds julia-language support
  default.nix
  flake.nix
  modules/languages/default.nix
  modules/languages/julia.nix
Due: alejandra, deadnix, statix, nix-flake-check, typos

feat: adds claude-task-master to replace shrimp-mcp
  README.md
  flake.nix
  lib/default.nix
  modules/mcp/claude-task-master.nix
  modules/mcp/default.nix
  pkgs/claude-task-master.nix
Due: alejandra, deadnix, statix, nix-flake-check, prettier, typos

ref: use npmbuildpackage
  .env.example
  .gitignore
  .mcp.json
  .taskmaster/CLAUDE.md
  .taskmaster/config.json
  .taskmaster/state.json
  .taskmaster/tasks/tasks.json
  .taskmaster/templates/example_prd.txt
  .taskmaster/templates/example_prd_rpg.txt
  CLAUDE.md
  flake.lock
  flake.nix
  pkgs/claude-task-master.nix
  pkgs/claude-task-master/claude-task-master-package-lock.json
  pkgs/claude-task-master/claude-task-master-package.json
  pkgs/claude-task-master/default.nix
  pkgs/common.nix
  pkgs/default.nix
Due: alejandra, deadnix, statix, nix-flake-check, prettier, typos

fix: make all binaries available
  pkgs/claude-task-master/default.nix
Due: alejandra, deadnix, statix, nix-flake-check, typos

fix: paths
  lib/default.nix
  modules/mcp/default.nix
Due: alejandra, deadnix, statix, nix-flake-check, typos

fix: confusion
  flake.nix
  modules/mcp/default.nix
  pkgs/default.nix
Due: alejandra, deadnix, statix, nix-flake-check, typos

fudging
  pkgs/claude-task-master/default.nix
Due: alejandra, deadnix, statix, nix-flake-check, typos

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  alejandra: any of: \.nix$
  deadnix: any of: \.nix$
  statix: any of: \.nix$
  nix-flake-check: any of: ^(flake\.(nix|lock)|.*\.nix)$
  shellcheck: any of: \.(sh|bash)$
  prettier: any of: \.(yaml|yml|json|md)$, but not: flake\.lock$
  typos: any file but: flake\.lock$
